.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}
@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.confirmModel {
    background: #000;
    width: 380px;
    border: 1px solid #f53398;
    .modelHeader {
        text-align: right;
        padding: 10px 15px 4px;
        border-bottom: 1px solid #f53398;
        button {
            padding: 0;
            background: none;
            border: 0;
            color: #f53398;
            font-size: 50px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            cursor: pointer;
        }
    }
    .modelBody {
        text-align: center;
        padding: 62px 22px 70px;
        h3{
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 46px;
        }
        p{
            color: #fff;
            margin: 0 0 143px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 767px){
    .confirmModel {
        width: 300px;
    }
}