.link_target_mail {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}
.srv-validation-message {
  color: $brand-danger;
}

.feed-setting .hashtag {
  text-align: left;
}
.theme_outline_light.active,
.theme_outline_light.active:hover {
  color: #212529;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa;
}

.theme_outline_light:hover {
  color: #f8f9fa;
  background: transparent none;
  border-color: #f8f9fa;
}
@media screen and (min-width: 1024px) {
  .lips-hash-tags li {
    display: block;
    width: 25%;
  }
}

.hidden {
  display: none;
}

.span-hidden {
  display: none !important;
}
.user_field {
  padding: 5px;
  border: solid 1px #eee;
}
.btn-transparent {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-color {
  background-color: black;
}
.VspcBtwn {
  width: 100%;
  max-width: 366px;
}
.profile-image-container {
  i {
    color: $pink;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    font-size: large;
  }
}

.hashtag {
  text-align: left;
}

header.main_header .lps_dropdown .lps_dropdown-menu.notification-dropdown {
  overflow-y: auto !important;
  max-height: calc(100vh - 100px);
}
.text-align-center {
  text-align: center;
}
.lps_fig {
  img.img_contain {
    object-fit: contain;
  }
  img.img_cover {
    object-fit: cover;
  }
}
.heightAuto {
  height: auto !important;
}
.lps_list_group span,
.lps_list_group button {
  font-size: 14px;
  font-family: "Dosis", sans-serif !important;
}
.cursor-pointer {
  cursor: pointer;
}
button {
  font-family: "Dosis", sans-serif !important;
}

.custom-ui {
  justify-content: center !important;
  background: #fd3398 !important ;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23) !important;
  color: #fff !important;
  font-size: 15px !important;
}

.close-custom-ui {
  justify-content: center !important;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23) !important;
  color: #fff !important;
  font-size: 15px !important;
}

.react-confirm-alert-button-group {
  justify-content: center !important;
}

.react-confirm-alert-body {
  text-align: center !important;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

.like_logo {
  vertical-align: middle;
}
input.input_modify {
  color: #fff;
}
.lps_text_white .lps_cont_rdo .lps_checkmark:after,
.lps_cont_rdo .lps_checkmark:after {
  background: $brand-primary;
}
.lps_fig.lps_fig_circle {
  width: 60px;
  height: 60px;
}
.lps_f_center {
  align-items: center;
}
.profile-image-container i {
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}
.over_none {
  overflow: initial !important;
}
.user_photo_url {
  border-radius: 50%;
}
.copyPara {
  color: #fff;
  margin: 2px 0 0;
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont .lps_top_imgs img {
  width: 50px;
  transform: rotate(-25deg);
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont .lps_top_imgs {
  padding: 15px 6px !important;
  border-radius: 8px !important;
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 23px;
  margin-top: 20px;
}
.onTimeModel .popup_body p {
  font-size: 19px;
  font-weight: 300;
  margin: 0 0 26px;
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont h4 {
  font-weight: 400;
  font-size: 16px;
}
.onTimeModel .inline_WText img {
  width: 15px !important;
}
.onTimeModel .popupCloseButton {
  position: inherit !important;
  display: block !important;
  text-align: right !important;
  width: 100% !important;
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont .popup_body {
  padding: 7px 15px 30px;
}
.onTimeModel .hover_bkgr_fricc.hover_alternate_W .popup_cont {
  border-radius: 0;
}
.model_border .hover_bkgr_fricc .modal-dialog-centered .popup_cont {
  border: 1px solid #fd3398;
}
.textContent article.lps_art a {
  display: block;
  min-height: 268px;
}
article.lps_art a {
  display: block;
  min-height: 268px;
}
.postApproval label.label_modify {
  margin-right: 23px;
}
.pt-75 {
  padding-top: 75px;
}
.inner_form .input_field .input_modify.tagInput:focus {
  border-bottom: 1px solid #f2f2f2 !important;
}
.moreLess a.morelink {
  position: initial;
}
.ifAccess .form_group_modify {
  display: inline-block;
  margin-left: 14px;
  width: 105px;
}
.ifAccess p {
  display: inline-block;
}
.ifAccess .form_group_modify input.input_modify.input_brdrBtnmP {
  border-radius: 0;
  height: 30px;
  padding: 0 0 0 7px;
}
.newButton a {
  width: 335px;
}
@media screen and (min-width: 991px) {
  .desktopVersio {
    width: 335px !important;
  }
}
@media screen and (max-width: 991px) {
  .newButton a {
    width: 100%;
    display: block;
  }
  .W-100P {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .ifAccess .form_group_modify {
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
