.link_target_mail {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}
.srv-validation-message {
  color: $brand-danger;
}

.feed-setting .hashtag {
  text-align: left;
}
.theme_outline_light.active, .theme_outline_light.active:hover {
  color: #212529;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa;
}

.theme_outline_light:hover{
  color: #f8f9fa;
  background: transparent none;
  border-color: #f8f9fa;
}
@media screen and (min-width: 1024px) {
  .lips-hash-tags li {
    display: block;
    width: 25%;
  }
}

.hidden{
  display: none;
}

.span-hidden{
  display: none !important;
}
.user_field {
  padding: 5px;
  border: solid 1px #eee;
}
.btn-transparent  {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-color {
  background-color: black;
}
.VspcBtwn {
  width: 100%;
  max-width: 366px;
}
.profile-image-container {
  i {
    color: $pink;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    font-size: large;
  }
}

.hashtag{
  text-align: left;
}

header.main_header .lps_dropdown .lps_dropdown-menu.notification-dropdown {
  overflow-y: auto !important;
  max-height: calc(100vh - 100px);
}
.text-align-center {
  text-align: center;
}
.lps_fig {
  img.img_contain {
    object-fit: contain;
  }
  img.img_cover {
    object-fit: cover;
  }
}
.heightAuto {
  height: auto !important;
}
.lps_list_group span, .lps_list_group button {
  font-size: 14px;
  font-family: "Dosis", sans-serif !important;
}
.cursor-pointer {
  cursor: pointer;
}
button{
  font-family: "Dosis", sans-serif !important;
}

.custom-ui {
  justify-content: center !important;
  background: #fd3398 !important ;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23) !important;
  color: #fff !important;
  font-size: 15px !important;
}

.close-custom-ui {
  justify-content: center !important;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23) !important;
  color: #fff !important;
  font-size: 15px !important;
}

.react-confirm-alert-button-group {
  justify-content: center !important;
}

.react-confirm-alert-body{
  text-align: center !important;
}

.react-confirm-alert-overlay{
  background:  rgba(0, 0, 0, 0.5) !important;
}

.like_logo{
  vertical-align: middle;
}