@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$font-family-base:  'Dosis', sans-serif;
$logo_font: 'Great Vibes', cursive;
$font-size-base:   14px !important; // Assumes the browser default, typically `16px`
// Font Weights
$ft_Weight_100: 100;
$ft_Weight_200: 200;
$ft_Weight_300: 300;
$regular: 400;
$ft_Weight_SM: 600;
$bold: bold;
html, body {
  height: 100%;
}
#wrap {
  width: 100%;
  margin-top: 61px;
}
a{
  transition: all .1s ease-in-out;
  text-decoration: none;
}
:focus,:active{
  outline: none;
}
body{
  font-size: $font-size-base;
  transition: all .1s ease-in-out;
  color: $brand-secondary;
  font-family: $font-family-base !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  background-color: $white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

// Font Size Define
.display-1 {
  font-size: 60px;
  font-weight: 400;
}
.display-2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: $bold;
}
$-h1: 35px;
$-h2: 30px;
$-h3: 25px;
$-h4: 20px;
$-h5: 18px;
$-h6: 16px;
$para-font: 14px;
$border-rad5: 5px;
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  font-size: $-h1;
  letter-spacing: 0.72px;
}
h2 {
  font-size: $-h2;
}
h3 {
  font-size: $-h3;
}
h4 {
  font-size: $-h4;
  letter-spacing: 0.4px;
}
h5 {
  font-size: $-h5;
}
h6 {
  font-size: $-h6;
}
p {
  font-size: $para-font;
  margin-top: 0;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;

  }
}
.fontS13 {
  font-size: 13px !important;
}
.fontS14 {
  font-size: 14px !important;
}
.ft_Weight_100 {
  font-weight: $ft_Weight_100 !important;
}
.ft_Weight_200 {
  font-weight: $ft_Weight_200 !important;
}
.ft_Weight_300 {
  font-weight: $ft_Weight_300 !important;
}
.ft_Weight_400 {
  font-weight: $regular !important;
}
.ft_Weight_600 {
  font-weight: $ft_Weight_SM !important;
}
.ft_Weight_700 {
  font-weight: $bold !important;
}
.fontS13 {
  font-size: 13px !important;
}
.fontS17 {
  font-size: 17px !important;
}
.text_primary {
  color: $brand-primary !important;
}
.text_center {
  text-align: center !important;
}
.text_uppercase {
  text-transform: uppercase !important;
}
input{
	-webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow:none;
}

// Dosis Fonts
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-bold/Dosis-Bold.woff2")) format("woff2"),
  url(font-path("dosis/dosis-bold/Dosis-Bold.woff")) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-ExtraLight/Dosis-ExtraLight.woff2")) format("woff2"),
  url(font-path("dosis/dosis-ExtraLight/Dosis-ExtraLight.woff")) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-SemiBold/Dosis-SemiBold.woff2")) format("woff2"),
  url(font-path("dosis/dosis-SemiBold/Dosis-SemiBold.woff")) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-ExtraBold/Dosis-ExtraBold.woff2")) format("woff2"),
  url(font-path("dosis/dosis-ExtraBold/Dosis-ExtraBold.woff")) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-medium/Dosis-Medium.woff2")) format("woff2"),
  url(font-path("dosis/dosis-medium/Dosis-Medium.woff")) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-regular/Dosis-Regular.woff2")) format("woff2"),
  url(font-path("dosis/dosis-regular/Dosis-Regular.woff")) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src:url(font-path("dosis/dosis-light/Dosis-Light.woff2")) format("woff2"),
  url(font-path("dosis/dosis-light/Dosis-Light.woff")) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}





